<div class="config-hub-backup-list" [slptLoadingMask]="loading">
	<div class="config-hub-backup-list__header">
		<div class="config-hub-backup-list__header-text">
			<h1 class="config-hub-backup-list__header-title">
				{{ 'CONFIG_HUB.CONFIGURATION_BACKUP' | slptTranslate }}:
				<span class="config-hub-backup-list__header-tenant-name">{{
					(selectedTenant$ | async) ?? currentTenant
				}}</span>
			</h1>
			<span class="config-hub-backup-list__header-subtitle" *ngIf="(selectedTenant$ | async) === null">
				{{
					'CONFIG_HUB.AVAILABLE_MANUAL_BACKUPS_USED'
						| slptTranslate
							: {
									count: totalManualBackups,
									max: MAX_MANUAL_BACKUPS_ALLOWED
							  }
				}}
			</span>
			<span class="config-hub-backup-list__header-subtitle" *ngIf="selectedTenant$ | async">
				{{ 'CONFIG_HUB.THIS_LIST_INCLUDES_ALL_BACKUPS' | slptTranslate }}
			</span>
		</div>
		<slpt-button
			id="config-hub-backup-list-new-button"
			class="config-hub-backup-list__create-button"
			*ngIf="(selectedTenant$ | async) === null && (canUserCreateBackup$ | async) === true"
			[label]="'CONFIG_HUB.CREATE_BACKUP'"
			[type]="'primary'"
			[direction]="'reverse'"
			[disabled]="isBackupInProgress || totalManualBackups >= MAX_MANUAL_BACKUPS_ALLOWED"
			(click)="handleCreateBackupClicked()"
		>
		</slpt-button>
	</div>
	<slpt-data-grid
		#slptGrid
		[options]="gridOptions"
		[noDataModel]="noDataModel"
		[disableClientSideSorting]="false"
		[columnDefs]="columnDefs"
		[rowData]="rows"
		[loadingModel]="loadingModel"
		(gridReadyEvent)="onGridReady($event)"
	>
	</slpt-data-grid>

	<app-config-hub-backup-summary-overlay
		[selectedBackup]="selectedBackup"
		[selectedTenant]="selectedTenant$ | async"
		[isOverlayOpen]="showSummaryOverlay"
		(onDismiss)="handleSummaryOverlayClose()"
	></app-config-hub-backup-summary-overlay>

	<app-config-hub-create-backup-overlay
		*ngIf="showCreateBackupOverlay"
		(onDismiss)="handleBackupOverlayClose($event)"
	></app-config-hub-create-backup-overlay>

	<app-config-hub-scheduled-jobs-overlay
		[isOverlayOpen]="showScheduledJobsOverlay"
		[selectedItem]="selectedBackup"
		(onDismiss)="handleScheduledJobsOverlayDismiss()"
	>
	</app-config-hub-scheduled-jobs-overlay>
</div>
